<p id="notice"><%= notice %></p>

<p>
  <strong>Stock price:</strong>
  <%= @black_schole.stock_price %>
</p>

<p>
  <strong>Strike price:</strong>
  <%= @black_schole.strike_price %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @black_schole.interest_rate %>
</p>

<p>
  <strong>Time:</strong>
  <%= @black_schole.time %>
</p>

<p>
  <strong>Volatility:</strong>
  <%= @black_schole.volatility %>
</p>

<p>
  <strong>Call put flag:</strong>
  <%= @black_schole.call_put_flag %>
</p>

<%= link_to 'Edit', edit_black_schole_path(@black_schole) %> |
<%= link_to 'Back', black_scholes_path %>
